<main id="training-show">
    <section class="menu container">
        <div class="title">
            <p class="text-center">トレーニングメニュー一覧</p>
        </div>
        <div class="contents container">
            <!--コンテンツをgridレイアウトで並べる-->
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    fdsafa
                </div>
                <div class="col-sm-12 col-md-4">
                    fdsafa
                </div>
                <div class="col-sm-12 col-md-4">
                    fdsafa
                </div>
            </div>
        </div>
    </section>
</main>