<main id="training-show">
    <!--筋トレの種類-->
    <section class= "trainings container">
        <div class="title">
            <p class="text-center">トレーニング種目一覧</p>
        </div>
        
        <!--コンテンツをgridレイアウトで並べる,div括りだとrenderが繰り返されるたびに階層を上がってしまうのでsectionで括る-->
        <section class="items row">
            <%= render partial: "training", collection: @trainings %>
        </section>
        
        <div class="add-item">
            <%= link_to "＋トレーニング種目の追加", new_user_training_path(@user) %>
        </div>
    </section>
    <!--トレーニングmenuの種類-->
    <section class="menus container">
        <div class="title">
            <p class="text-center">トレーニングメニュー一覧</p>
        </div>
        <section class="items row">
            <%= render partial: "training", collection: @trainings %>
        </section>
        <div class="add-item">
            <%= link_to "＋トレーニングメニューの追加","" %>
        </div>
    </section>
</main>