// $(document).on('turbolinks:load', function() {
//     $('.add').click(function(){
//         $('h2').css('color','red');
//     })
// })
$(function(){
    // Menuに追加するtrainingのDOMの生成
    
    // gem "gon"によってrailsコントローラ内で定義した変数をjsで取得
    let trainings = gon.trainings;
    
    // 「+種目を追加」ボタンのクリックイベント
    $('.add').click(function(){
        // modalの表示処理
        $('#modal').removeClass('hide');
        $('#modal').addClass('show');
    })  
    
    // modal内にあるトレーニング種目のパネルそれぞれのクリックイベント
    trainings.forEach(function(training) {
        $(`#item-${training.id}`).click(function(){
            let html_content = 
            `<div class="name">${training.name}</div>`+
            `<input type="hidden" name=menu[training_menus_attributes[][training_id]] value=${training.id} id="new_menu">`+
            `<input type="input" name=menu[training_menus_attributes[][weight]] id="new_menu">kg`+
            `<input type="input" name=menu[training_menus_attributes[][times]] id="new_menu">回`
            
            
            
            let item = `<div class="training-item">${html_content}</div>`;
            // let item = $('<div class="training-item">')
            // let item_name = training.name
            $('.training-items').append(item);
            // $('.training-item').append(item_name);
            
            // modalの非表示処理
            $('#modal').removeClass('show');
            $('#modal').addClass('hide');
        })
    })
    
})

